<%= form_with(model: consumidor) do |form| %>
  <% if consumidor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consumidor.errors.count, "error") %> prohibited this consumidor from being saved:</h2>

      <ul>
        <% consumidor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, class: "form label mb-2", style: "display: block" %>
    <%= form.text_field :nome, class: "form-control mb-3" %>
  </div>

  <div>
    <%= form.submit texto_da_acao, class:"btn btn-primary" %>
    <%= link_to "Voltar", consumidors_path, class: "btn btn-secondary" %>
  </div>
<% end %>
