<div class="col-md-4">
  <div class="card mb-3" style="position: relative;"> 
    <div class="card-body">      
      <%= link_to edit_receitum_path(receitum), class: "text-decoration-none text-dark" do %>
        <p class="card-text">
          <strong>Consumidor:</strong> <%= receitum.consumidor.nome %><br>
          <strong>Categoria:</strong> <%= receitum.categorium.nome %><br>
          <strong>Valor:</strong> <%= receitum.valor.format %><br>
          <strong>Data:</strong> <%= l(receitum.data, format: :short) if receitum.data %>
        </p>
      <% end %>
      <div class="d-flex justify-content-between">
        <%= button_to "X", receitum, 
            data: { turbo_confirm: "Tem certeza que deseja remover esta receita?" },  
            method: :delete, class: "btn btn-danger btn-sm", style: "position: absolute; top: 10px; right: 10px;" %>
      </div>
    </div>
  </div>
</div>
